
/*--- SIZES ---*/
@mixin cover(){
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*---- COLOR ---*/
@mixin font-light(){
    font-weight: 300;
}
@mixin font-regular(){
    font-weight: 400;
}
@mixin font-bold(){
    font-weight: 900;
}
/*--- POSITIONS ---*/
@mixin p-relative(){
    position: relative;
}
@mixin p-absolute(){
    position: absolute;
}
@mixin p-fixed(){
    position: fixed;
}

@mixin container-full(){
    width: 100%;
    max-width: 100%;
    float: left;
    position: relative
}

@mixin container(){
    width: calc(100% - 140px);
    overflow: hidden;
    margin: 0 auto;
}
@mixin config(){
    float: left;
    position: relative;
}

@mixin uppercase(){
    text-transform: uppercase;
}

@mixin title-section (){
}
