/*--- mixing-font ---*/
@mixin font-face($path, $family, $type: '', $weight: 400, $svg: '', $style: normal) {
    @font-face {
        font-family: $family;

        @if $svg=='' {
            src: url('#{$path}#{$type}.otf') format('opentype'),
            url('#{$path}#{$type}.woff2') format('woff2'),
            url('#{$path}#{$type}.woff') format('woff'),
            url('#{$path}#{$type}.ttf') format('truetype');
        }

        @else {
            src: url('#{$path}#{$type}.eot');
            src: url('#{$path}#{$type}.eot?#iefix') format('embedded-opentype'),
            url('#{$path}#{$type}.woff2') format('woff2'),
            url('#{$path}#{$type}.woff') format('woff'),
            url('#{$path}#{$type}.ttf') format('truetype'),
            url('#{$path}#{$type}.svg##{$svg}') format('svg');
        }

        font-weight: $weight;
        font-style: $style;
    }
}

// ========================================================importing
$dir: '../../assets/fonte/';
$mazzardl_regular: 'mazzardl_regular';
@include font-face('#{$dir}mazzardl-regular-webfont', $mazzardl_regular, '', normal, $mazzardl_regular);

$mazzardm_black: 'mazzardm_black';
@include font-face('#{$dir}mazzardm-black-webfont', $mazzardm_black, '', normal, $mazzardm_black);

$mazzardm_bold: 'mazzardm_bold';
@include font-face('#{$dir}mazzardm-bold-webfont', $mazzardm_bold, '', normal, $mazzardm_bold);

$mazzardm_extrabold: 'mazzardm_extrabold';
@include font-face('#{$dir}mazzardm-extrabold-webfont', $mazzardm_extrabold, '', normal, $mazzardm_extrabold);

$mazzardm_medium: 'mazzardm_medium';
@include font-face('#{$dir}mazzardm-medium-webfont', $mazzardm_medium, '', normal, $mazzardm_medium);

$mazzardm_regular: 'mazzardm_regular';
@include font-face('#{$dir}mazzardm-regular-webfont', $mazzardm_regular, '', normal, $mazzardm_regular);

// adding specific types of font-weights
// @include font-face('#{$dir}#{$MyriadPro}', $MyriadPro, '-light', 100);
// @include font-face('#{$dir}#{$MyriadPro}', $MyriadPro, '-Regular', 400);
// @include font-face('#{$dir}#{$MyriadPro}', $MyriadPro, '-Medium', 500);
// @include font-face('#{$dir}#{$MyriadPro}', $MyriadPro, '-Bold', 700);
// ========================================================usage


/*--- MIXIN---*/

/*--- mixin BTNS ---*/

/*--- SIZES ---*/
@mixin cover(){
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*--- POSITIONS ---*/
@mixin p-relative(){
    position: relative;
}
@mixin p-absolute(){
    position: absolute;
}
@mixin p-fixed(){
    position: fixed;
}

@mixin container-full(){
    width: 100%;
    max-width: 100%;
    float: left;
    position: relative
}

@mixin container(){
    width: calc(100% - 140px);
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}
@mixin config(){
    float: left;
    position: relative;
}

@mixin uppercase(){
    text-transform: uppercase;
}

@mixin title-section (){
}
