/* You can add global styles to this file, and also import other style files */
/*--- SIZES ---*/
/*---- COLOR ---*/
/*--- POSITIONS ---*/
/*colors*/
/* Presettings */
/* Responsive breakpoints */
/* how to use
    @media only screen and (max-width : 900px) {
        width: 100%;
    }
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
.uppercase {
  text-transform: uppercase; }

.mobile {
  display: none; }

/* none */
.owl-theme .owl-nav button, input[type=submit], section#header, section#header .header-content, section#header .header-content .action, section#header .header-content .action__nav, section#header .header-content .action__nav ul, section#header .header-content .action__search, section#header .header-content .action__button, .btn-all, section#banner, section#banner .b_headline {
  display: flex; }

section#banner .b_headline {
  flex-direction: column; }

section#header .header-content, section#header .header-content .action, section#header .header-content .action__nav ul {
  justify-content: space-between; }

section#banner, section#banner .b_headline {
  justify-content: center; }

section#header .header-content, section#header .header-content .action, section#banner .b_headline {
  align-items: center; }

section#banner {
  align-items: flex-end; }

.owl-theme .owl-nav button, input[type=submit], section#header .header-content .action__search, section#header .header-content .action__button, .btn-all {
  justify-content: center;
  align-items: center;
  text-align: center; }

.container {
  width: calc(100% - 140px);
  overflow: hidden;
  margin: 0 auto; }

.container-full {
  width: 100%;
  max-width: 100%;
  float: left;
  position: relative; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

a:hover {
  text-decoration: none !important; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px; }

ol,
ul {
  list-style: none; }

p {
  margin: 0;
  padding: 0; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p {
  margin: 0;
  padding: 0 !important;
  line-height: 28px; }

h1 {
  font-size: 25px; }

h2 {
  font-size: 20px;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 48px;
  font-family: 'Roboto', sans-serif; }

h3 {
  font-size: 18px; }

a {
  cursor: pointer; }
  a img {
    width: 100%; }

small {
  font-size: 13px; }

button:focus,
input:focus,
select:focus,
a:focus {
  outline: none;
  box-shadow: none; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

img {
  max-width: 100%; }

.owl-theme .owl-dots {
  z-index: 99999;
  margin-top: 42% !important;
  width: 65%;
  display: flex;
  justify-content: flex-end;
  top: 0;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-dots .owl-dot {
    width: 9px !important;
    height: 9px !important;
    margin: 0 2px;
    border: 0 none !important;
    outline: 0; }
    .owl-theme .owl-dots .owl-dot span {
      width: 9px !important;
      height: 9px !important;
      background: #404040 !important; }
    .owl-theme .owl-dots .owl-dot.active span {
      background: #11294B !important; }
.owl-theme .owl-nav {
  z-index: 99999;
  margin-top: -47% !important;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  top: 0; }
  .owl-theme .owl-nav button {
    background: #ccc !important;
    width: 67px;
    height: 67px;
    border-radius: 50% !important;
    border: 0 none !important;
    outline: 0; }
    .owl-theme .owl-nav button span {
      color: #fff;
      font-size: 16px !important; }
    .owl-theme .owl-nav button:hover {
      background: #11294B !important; }

@media only screen and (max-width: 1280px) {
  .owl-theme .owl-dots {
    margin-top: 40% !important; }
  .owl-theme .owl-nav {
    margin-top: -50% !important; } }
@media only screen and (max-width: 1124px) {
  .owl-theme .owl-dots {
    margin-top: 50% !important; }
  .owl-theme .owl-nav {
    margin-top: -70% !important; } }
@media only screen and (max-width: 900px) {
  .owl-theme .owl-dots {
    margin-top: 50% !important;
    display: none; }
  .owl-theme .owl-nav {
    margin-top: 0 !important;
    justify-content: center; } }
@media only screen and (max-width: 380px) {
  .owl-theme .owl-nav {
    margin-top: -30px !important;
    justify-content: center; }
    .owl-theme .owl-nav button {
      width: 37px;
      height: 37px;
      border-radius: 50% !important;
      border: 0 none !important;
      outline: 0; }
      .owl-theme .owl-nav button span {
        color: #fff;
        font-size: 16px !important; }
      .owl-theme .owl-nav button:hover {
        background: #11294B !important; } }
input[type=text], input[type=email] {
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #fff;
  padding: 1px;
  width: 100%;
  margin: 20px 0;
  height: 40px;
  color: #fff; }
input[type=submit] {
  border-radius: 50px;
  height: 80px;
  width: 320px;
  margin: 20px 0;
  float: right;
  font-size: 23px; }

textarea {
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #fff;
  padding: 1px;
  width: 100%;
  margin: 20px 0 !important;
  height: 40px;
  color: #fff; }

@media only screen and (max-width: 1280px) {
  input[type=text], input[type=email] {
    margin: 15px 0;
    height: 40px; }
  input[type=submit] {
    border-radius: 50px;
    height: 60px;
    width: 320px;
    margin: 15px 0;
    float: right;
    font-size: 23px; }

  textarea {
    margin: 15px 0 !important;
    height: 40px; } }
@media only screen and (max-width: 900px) {
  input[type=text], input[type=email] {
    padding: 1px;
    width: 100%;
    margin: 10px 0;
    height: 40px;
    color: #fff;
    font-size: 14px; }
  input[type=submit] {
    border-radius: 50px;
    border: none;
    height: 70px;
    color: #fff;
    width: 234px;
    margin: 15px auto 0;
    float: right;
    font-size: 18px;
    background: #1BD68F;
    float: none !important; }

  textarea {
    padding: 1px;
    width: 100%;
    margin: 10px 0 !important;
    height: 40px;
    font-size: 14px; } }
section#header {
  background: #fff;
  width: 100%;
  height: 105px;
  box-shadow: 0px 3px 6px #00000029;
  position: fixed;
  z-index: 9999; }
  section#header .header-content {
    width: calc(100% - 140px);
    overflow: hidden;
    margin: 0 auto; }
    section#header .header-content__logotipo h2 {
      color: #13284b;
      font-weight: 900;
      font-family: 'Roboto' !important;
      font-size: 50px; }
    section#header .header-content .action {
      width: 1009px; }
      section#header .header-content .action__nav {
        width: 685px; }
        section#header .header-content .action__nav ul {
          float: left;
          position: relative;
          width: 100%;
          margin: 0;
          padding: 0; }
          section#header .header-content .action__nav ul li {
            float: left; }
            section#header .header-content .action__nav ul li a {
              font-weight: 300;
              font-size: 16px;
              color: #11294B; }
            section#header .header-content .action__nav ul li .ul-container {
              display: none;
              position: fixed;
              background: #fff;
              width: 1132px;
              margin-left: -600px;
              margin-top: -6px;
              height: 463px; }
              section#header .header-content .action__nav ul li .ul-container__content {
                width: 100%;
                height: 416px;
                background: #11294B;
                margin-top: 47px; }
            section#header .header-content .action__nav ul li:hover .ul-container {
              display: flex; }
      section#header .header-content .action__search {
        width: 171px; }
        section#header .header-content .action__search i {
          font-size: 16px;
          color: #11294B;
          cursor: pointer; }
      section#header .header-content .action__button {
        width: 154px;
        height: 40px;
        background: #11294B;
        border-radius: 4px; }
        section#header .header-content .action__button a {
          color: #fff;
          font-size: 16px;
          text-transform: uppercase;
          font-weight: 900; }

.btn-all {
  border-radius: 25px; }
  .btn-all__primary {
    background: #B41F84;
    color: #fff;
    width: 122px;
    height: 49px; }
    .btn-all__primary:hover {
      color: #fff; }

section#banner {
  width: 100%;
  max-width: 100%;
  float: left;
  position: relative;
  background: url("../images/banner/banner.png") center center no-repeat;
  height: 1080px; }
  section#banner .b_headline {
    text-align: center;
    width: 100%;
    margin-bottom: 91px; }
    section#banner .b_headline h2 {
      font-weight: 900;
      font-size: 82px;
      color: #fff; }
    section#banner .b_headline p {
      font-size: 28px;
      color: #fff;
      max-width: 780px;
      font-weight: 300;
      margin: 16.77px 0 25px; }
    section#banner .b_headline a {
      font-weight: 900;
      font-size: 16px;
      font-style: italic; }
