/* You can add global styles to this file, and also import other style files */
/*--- SIZES ---*/
/*---- COLOR ---*/
/*--- POSITIONS ---*/
/*colors*/
/* Presettings */
/* Responsive breakpoints */
/* how to use
    @media only screen and (max-width : 900px) {
        width: 100%;
    }
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
.uppercase {
  text-transform: uppercase; }

.mobile {
  display: none; }

/* none */
.owl-theme .owl-nav button, section#about .about-home__container .matter, section#about .about-home__container .focus, section#about .about-home__container .focus__description, section#about .about-home__container .focus__description .desc, section#about .about-home__container .background, section#about .about-home__container .background__description, section#about .about-home__container .background__description .desc, section#about-banner .about-banner, section#about-banner .about-banner__content, section#about-better .better, section#about-better .better__content, section#about-better .better__content .description, section#about-better .better__content .years, section#about-how .how-we__content--topic-reverse, section#about-ethos, section#service .service-container, section#service .service-container__content, section#service .service-container__content .service-box, section#service .service-container__footer, section#markets .markets-container__header, section#markets .markets-container__content, section#innovation .innovation-container, section#innovation .innovation-container__header, section#innovation .innovation-container__footer, section#bestwork .bestwork-container__header, section#bestwork .bestwork-container__footer, section#bestwork .bestwork-container__footer .title-brands, section#bestwork .bestwork-container__footer .logo-brands, section .years-container, section#testimonial .testmonials-container, section#testimonial .testmonials-container .carousel__header, section#testimonial .testmonials-container .carousel__content, section .blog-container__header, section .blog-container__content, section .blog-container__content .blog-box, section .blog-container__footer, section .contact-container, input[type=submit], section#header, section#header .header-content, section#header .header-content .action, section#header .header-content .action__nav, section#header .header-content .action__nav ul, section#header .header-content .action__search, section#header .header-content .action__button, .btn-all, section#banner, section#banner .b_headline, .item#carousel .post__user, .item#carousel .post__user i, section .footer-container, section .copy-container {
  display: flex; }

section#about .about-home__container .matter, section#about .about-home__container .focus__description .desc, section#about .about-home__container .background__description, section#about .about-home__container .background__description .desc, section#about-banner .about-banner, section#about-banner .about-banner__content, section#about-better .better, section#about-better .better__content .years, section#service .service-container, section#service .service-container__content .service-box, section#innovation .innovation-container, section#innovation .innovation-container__header, section#bestwork .bestwork-container__footer, section#testimonial .testmonials-container .carousel__header, section#testimonial .testmonials-container .carousel__content, section .blog-container__content .blog-box, section .blog-container__footer, section .contact-container, section#banner .b_headline {
  flex-direction: column; }

section#about .about-home__container .focus, section#about .about-home__container .background, section#about-better .better__content, section#about-how .how-we__content--topic-reverse, section#service .service-container__content, section#markets .markets-container__content, section#innovation .innovation-container, section#innovation .innovation-container__footer, section .blog-container__content, section#header .header-content, section#header .header-content .action, section#header .header-content .action__nav ul, section .copy-container {
  justify-content: space-between; }

section#bestwork .bestwork-container__footer .logo-brands {
  justify-content: space-around; }

section#about .about-home__container .matter, section#about .about-home__container .focus__description, section#about .about-home__container .background__description, section#service .service-container__footer, section#markets .markets-container__header, section#bestwork .bestwork-container__footer .logo-brands, section#banner, section#banner .b_headline {
  justify-content: center; }

section#about-banner .about-banner, section#markets .markets-container__content .markets-box, section .blog-container__content .blog-box {
  justify-content: flex-end; }

section#about .about-home__container .focus__description, section#about .about-home__container .background__description, section#about-banner .about-banner__content, section#about-better .better__content .years, section#about-how .how-we__content--topic-reverse, section#about-ethos, section#bestwork .bestwork-container__footer .logo-brands, section#testimonial .testmonials-container, section#header .header-content, section#header .header-content .action, section#banner .b_headline, .item#carousel .post__user, section .copy-container {
  align-items: center; }

section#about-banner .about-banner, section#banner {
  align-items: flex-end; }

.owl-theme .owl-nav button, section#service .service-container__content .service-box, section#bestwork .bestwork-container__header, section#bestwork .bestwork-container__footer .title-brands, section .blog-container__header, section .blog-container__footer, section .contact-container, input[type=submit], section#header .header-content .action__search, section#header .header-content .action__button, .btn-all, .item#carousel .post__user i {
  justify-content: center;
  align-items: center;
  text-align: center; }

.container {
  width: calc(100% - 280px);
  overflow: hidden;
  margin: 0 auto; }

.container-full {
  width: 100%;
  max-width: 100%;
  float: left;
  position: relative; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

a:hover {
  text-decoration: none !important; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: #fffffe; }

ol,
ul {
  list-style: none; }

p {
  margin: 0;
  padding: 0; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p {
  margin: 0;
  padding: 0 !important;
  line-height: 21px;
  font-family: 'Roboto', sans-serif; }

h1 {
  font-size: 25px; }

h2 {
  margin: 0 !important;
  padding: 0 !important;
  line-height: 48px;
  font-family: 'Roboto', sans-serif; }

h3 {
  font-size: 18px; }

a {
  font-family: 'Roboto', sans-serif;
  cursor: pointer; }
  a img {
    width: 100%; }

small {
  font-size: 13px;
  font-family: 'Roboto', sans-serif; }

span {
  font-family: 'Roboto', sans-serif; }

button:focus,
input:focus,
select:focus,
a:focus {
  outline: none;
  box-shadow: none; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

img {
  max-width: 100%; }

.owl-theme .owl-dots {
  display: none;
  z-index: 99999;
  width: 65%;
  display: flex;
  top: 0;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-dots .owl-dot {
    width: 14px !important;
    height: 14px !important;
    margin: 0 7px;
    border: none;
    outline: 0; }
    .owl-theme .owl-dots .owl-dot span {
      width: 14px !important;
      height: 14px !important;
      background: #748AAC !important; }
    .owl-theme .owl-dots .owl-dot.active {
      border: none; }
      .owl-theme .owl-dots .owl-dot.active span {
        background: #11294B !important;
        border: none; }
.owl-theme .owl-nav {
  z-index: 99999;
  width: 100%;
  display: none;
  justify-content: flex-end;
  top: 0; }
  .owl-theme .owl-nav button {
    background: #ccc !important;
    width: 67px;
    height: 67px;
    border-radius: 50% !important;
    border: 0 none !important;
    outline: 0; }
    .owl-theme .owl-nav button span {
      color: #fff;
      font-size: 16px !important; }
    .owl-theme .owl-nav button:hover {
      background: #11294B !important; }

@media only screen and (max-width: 1280px) {
  .owl-theme .owl-dots {
    margin-top: 40% !important; }
  .owl-theme .owl-nav {
    margin-top: -50% !important; } }
@media only screen and (max-width: 1124px) {
  .owl-theme .owl-dots {
    margin-top: 50% !important; }
  .owl-theme .owl-nav {
    margin-top: -70% !important; } }
@media only screen and (max-width: 900px) {
  .owl-theme .owl-dots {
    margin-top: 50% !important;
    display: none; }
  .owl-theme .owl-nav {
    margin-top: 0 !important;
    justify-content: center; } }
@media only screen and (max-width: 380px) {
  .owl-theme .owl-nav {
    margin-top: -30px !important;
    justify-content: center; }
    .owl-theme .owl-nav button {
      width: 37px;
      height: 37px;
      border-radius: 50% !important;
      border: 0 none !important;
      outline: 0; }
      .owl-theme .owl-nav button span {
        color: #fff;
        font-size: 16px !important; }
      .owl-theme .owl-nav button:hover {
        background: #11294B !important; } }
section#about {
  width: 100%;
  max-width: 100%;
  float: left;
  position: relative;
  padding: 157px 0 114px 0; }
  section#about .about-home__container {
    width: calc(100% - 30px);
    overflow: hidden;
    margin: 0 auto; }
    section#about .about-home__container .matter {
      width: 100%;
      text-align: center; }
      section#about .about-home__container .matter h2 {
        font-size: 52px;
        color: #11294B;
        text-align: center;
        font-weight: 900;
        float: right;
        margin-bottom: 16px !important;
        line-height: 68px; }
      section#about .about-home__container .matter p {
        font-weight: 300;
        color: #11294B;
        font-size: 28px;
        letter-spacing: 0;
        margin-bottom: 0;
        line-height: 37px; }
    section#about .about-home__container .focus {
      width: 100%;
      max-width: 100%;
      float: left;
      position: relative;
      margin: 65.96px 0 16px 0 !important; }
      section#about .about-home__container .focus__images {
        width: 1065px;
        float: left; }
      section#about .about-home__container .focus__description {
        width: calc(100% - 1065px); }
        section#about .about-home__container .focus__description .desc {
          width: 496px; }
          section#about .about-home__container .focus__description .desc h2 {
            font-size: 52px;
            color: #11294B;
            text-align: center;
            font-weight: 900;
            float: right;
            margin-bottom: 16.77px !important;
            text-align: left; }
          section#about .about-home__container .focus__description .desc p {
            font-weight: 300;
            line-height: 37px;
            color: #11294B;
            font-size: 28px;
            letter-spacing: 0;
            margin-bottom: 5px; }
    section#about .about-home__container .background {
      width: calc(100% - 30px);
      overflow: hidden;
      margin: 0 auto; }
      section#about .about-home__container .background__images {
        width: 1063px; }
      section#about .about-home__container .background__description {
        width: calc(100% - 1063px); }
        section#about .about-home__container .background__description .desc {
          width: 496px; }
          section#about .about-home__container .background__description .desc h2 {
            font-size: 52px;
            color: #11294B;
            text-align: center;
            font-weight: 900;
            float: right;
            margin-bottom: 13.62px !important;
            text-align: left; }
          section#about .about-home__container .background__description .desc p {
            font-weight: 300;
            color: #11294B;
            font-size: 28px;
            letter-spacing: 0;
            margin-bottom: 5px;
            line-height: 37px; }

section {
  width: 100%;
  max-width: 100%;
  float: left;
  position: relative; }
  section#about-banner .about-banner {
    height: 1078px; }
    section#about-banner .about-banner__topic {
      color: #009DFF;
      font-size: 200px;
      -webkit-text-stroke-width: 4px;
      -webkit-text-stroke-color: #fff;
      margin: 0 auto; }
    section#about-banner .about-banner__content {
      width: 100%;
      text-align: center;
      color: #fff;
      padding: 83px 0 61px;
      background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8)); }
      section#about-banner .about-banner__content--title {
        font-weight: 900;
        font-size: 82px;
        line-height: 108px;
        color: #fff; }
      section#about-banner .about-banner__content--subtitle {
        width: 1008px; }
        section#about-banner .about-banner__content--subtitle-desc {
          font-weight: 300;
          font-size: 28px;
          line-height: 38px;
          margin-top: 25px;
          margin-bottom: 14px; }
        section#about-banner .about-banner__content--subtitle-established {
          font-weight: 300;
          display: flex;
          justify-content: center;
          font-size: 22px;
          line-height: 38px; }
          section#about-banner .about-banner__content--subtitle-established-trace {
            width: 20px;
            height: 1px;
            align-self: center;
            margin: 0 20px;
            background-color: #fff; }
  section#about-pionners .pionners {
    width: 100%;
    padding: 115px 200px;
    text-align: center; }
    section#about-pionners .pionners__title {
      font-weight: 900;
      font-size: 52px;
      line-height: 68px;
      color: #11294B;
      margin-bottom: 33px; }
    section#about-pionners .pionners__subtitle {
      font-weight: 300;
      line-height: 37px;
      font-size: 28px;
      color: #11294B; }
    section#about-pionners .pionners__slide {
      width: calc(100% - 30px);
      overflow: hidden;
      margin: 0 auto;
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center; }
      section#about-pionners .pionners__slide .owl-carousel-pioneers .owl-stage-outer {
        height: 500px; }
        section#about-pionners .pionners__slide .owl-carousel-pioneers .owl-stage-outer .owl-stage .owl-item .pionners_carousel .item .post__images {
          width: 100%;
          height: 500px; }
      section#about-pionners .pionners__slide .owl-carousel-pioneers .owl-dots {
        width: 100%;
        display: flex !important;
        margin-top: 442px;
        position: absolute;
        z-index: 999999;
        align-items: center;
        justify-content: center; }
  section#about-better .better {
    width: calc(100% - 400px);
    overflow: hidden;
    margin: 0 auto; }
    section#about-better .better__content {
      width: 100%;
      padding: 101px 0 159px; }
      section#about-better .better__content .description {
        width: 910px;
        height: 583px;
        justify-content: flex-end;
        flex-direction: column; }
        section#about-better .better__content .description h2 {
          color: #11294B;
          font-weight: 900;
          font-size: 52px;
          line-height: 58px;
          margin-bottom: 14px; }
          section#about-better .better__content .description h2 span {
            color: #B41F84;
            font-style: italic;
            margin-bottom: 0; }
        section#about-better .better__content .description p {
          font-weight: 300;
          font-size: 28px;
          line-height: 37px;
          color: #11294B;
          margin-bottom: 28px; }
      section#about-better .better__content .years--number {
        font-weight: 700;
        color: #11294B;
        font-size: 442px;
        line-height: 583px;
        margin-top: -20px; }
      section#about-better .better__content .years--desc {
        font-weight: 900;
        color: #B41F84;
        font-size: 64px;
        line-height: 84px;
        margin-top: -90px; }
  section#about-fpo {
    width: calc(100% - 30px);
    overflow: hidden;
    margin: 0 auto;
    margin: 0 15px !important; }
    section#about-fpo .fpo {
      height: 500px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
      section#about-fpo .fpo__topic {
        color: #009DFF;
        font-size: 200px;
        -webkit-text-stroke-width: 4px;
        -webkit-text-stroke-color: #fff;
        margin: 0 auto; }
  section#about-what-makes {
    width: 100%;
    max-width: 100%;
    float: left;
    position: relative; }
    section#about-what-makes .what-makes {
      width: calc(100% - 30px);
      overflow: hidden;
      margin: 0 auto; }
      section#about-what-makes .what-makes__content {
        padding: 197px 0 48px;
        text-align: center;
        max-width: 70%;
        width: 100%;
        margin: 0 auto; }
        section#about-what-makes .what-makes__content--title {
          font-weight: 900;
          line-height: 58px;
          font-size: 52px;
          color: #11294B;
          margin-bottom: 14px; }
        section#about-what-makes .what-makes__content--subtitle {
          font-size: 28px;
          color: #11294B;
          line-height: 37px; }
      section#about-what-makes .what-makes__topics-left {
        display: flex;
        align-items: center;
        margin-bottom: 15px; }
        section#about-what-makes .what-makes__topics-left--reverse {
          flex-direction: row-reverse; }
        section#about-what-makes .what-makes__topics-left--content {
          padding: 0 150px 0 70px; }
          section#about-what-makes .what-makes__topics-left--content-title {
            font-weight: 900;
            font-size: 52px;
            color: #11294B; }
          section#about-what-makes .what-makes__topics-left--content-desc {
            font-weight: 300;
            line-height: 38px;
            font-size: 28px;
            margin-top: 17px;
            margin-bottom: 50px; }
          section#about-what-makes .what-makes__topics-left--content-button {
            border: 2px solid #B41F84;
            color: #B41F84;
            border-radius: 25px;
            padding: 14px 37px;
            margin-top: 50px;
            background-color: transparent;
            cursor: pointer; }
  section#about-how {
    width: 100%;
    max-width: 100%;
    float: left;
    position: relative; }
    section#about-how .how-we {
      width: calc(100% - 400px);
      overflow: hidden;
      margin: 0 auto;
      padding: 224px 0 0; }
      section#about-how .how-we__content--title {
        font-weight: 900;
        font-size: 52px;
        line-height: 58px;
        color: #11294B;
        margin-bottom: 15px;
        text-align: center; }
      section#about-how .how-we__content--subtitle {
        font-weight: 300;
        font-size: 28px;
        line-height: 38px;
        color: #11294B;
        margin-bottom: 100px;
        text-align: center; }
      section#about-how .how-we__content--topic {
        display: flex;
        align-items: center;
        margin-bottom: 105px; }
        section#about-how .how-we__content--topic-reverse {
          flex-direction: row-reverse;
          margin-bottom: 105px; }
        section#about-how .how-we__content--topic-image-block {
          display: grid;
          gap: 10px;
          width: 733px;
          height: 566px;
          grid-template-areas: "one two three" "one five five" "four five five"; }
          section#about-how .how-we__content--topic-image-block img {
            filter: saturate(100%); }
            section#about-how .how-we__content--topic-image-block img:hover {
              filter: saturate(80%) invert(10%); }
          section#about-how .how-we__content--topic-image-block-custom {
            display: grid;
            gap: 10px;
            width: 751px;
            height: 567px;
            grid-template-areas: "one two" "one three"; }
            section#about-how .how-we__content--topic-image-block-custom img {
              filter: saturate(100%); }
              section#about-how .how-we__content--topic-image-block-custom img:hover {
                filter: saturate(80%) invert(10%); }
            section#about-how .how-we__content--topic-image-block-custom-1 {
              width: 303px;
              height: 367px;
              grid-area: one; }
            section#about-how .how-we__content--topic-image-block-custom-2 {
              width: 438px;
              height: 224px;
              grid-area: two; }
            section#about-how .how-we__content--topic-image-block-custom-3 {
              width: 438px;
              height: 332px;
              grid-area: three; }
            section#about-how .how-we__content--topic-image-block-custom-two {
              display: grid;
              gap: 10px;
              width: 751px;
              height: 567px;
              grid-template-areas: "one two" "three two"; }
              section#about-how .how-we__content--topic-image-block-custom-two img {
                filter: saturate(100%); }
                section#about-how .how-we__content--topic-image-block-custom-two img:hover {
                  filter: saturate(80%) invert(10%); }
              section#about-how .how-we__content--topic-image-block-custom-two-1 {
                width: 303px;
                height: 329px;
                grid-area: one;
                background-color: #F2F2F2; }
              section#about-how .how-we__content--topic-image-block-custom-two-2 {
                width: 438px;
                height: 568px;
                grid-area: two; }
              section#about-how .how-we__content--topic-image-block-custom-two-3 {
                width: 303px;
                height: 228px;
                grid-area: three; }
          section#about-how .how-we__content--topic-image-block-1 {
            width: 303px;
            height: 329px;
            grid-area: one; }
          section#about-how .how-we__content--topic-image-block-2 {
            width: 214px;
            height: 224px;
            grid-area: two; }
          section#about-how .how-we__content--topic-image-block-3 {
            width: 214px;
            height: 224px;
            grid-area: three; }
          section#about-how .how-we__content--topic-image-block-4 {
            width: 303px;
            height: 227px;
            grid-area: four; }
          section#about-how .how-we__content--topic-image-block-5 {
            width: 438px;
            height: 333px;
            grid-area: five; }
        section#about-how .how-we__content--topic-desc {
          padding-left: 114px;
          max-width: 617px; }
          section#about-how .how-we__content--topic-desc-reverse {
            padding-right: 114px; }
          section#about-how .how-we__content--topic-desc-title {
            font-weight: 900;
            line-height: 58px;
            font-size: 52px;
            color: #11294B;
            margin-bottom: 7.54px; }
          section#about-how .how-we__content--topic-desc-subtitle {
            font-weight: 300;
            font-size: 28px;
            line-height: 37px;
            color: #11294B; }
            section#about-how .how-we__content--topic-desc-subtitle-obs {
              font-weight: 900;
              font-size: 22px;
              line-height: 29px;
              color: #11294B; }
  section#about-ethos {
    width: 100%;
    max-width: 100%;
    float: left;
    position: relative;
    height: 763px;
    background-color: #000000;
    justify-content: start;
    background-repeat: no-repeat;
    background-position: right; }
    section#about-ethos .our-ethos {
      width: calc(100% - 400px);
      overflow: hidden;
      margin: 0 auto; }
      section#about-ethos .our-ethos__desc {
        width: 634px; }
        section#about-ethos .our-ethos__desc-title {
          font-weight: 900;
          font-size: 52px;
          line-height: 58px;
          color: #fff;
          margin-bottom: 26px; }
        section#about-ethos .our-ethos__desc-subtitle {
          font-weight: 300;
          font-size: 28px;
          line-height: 37px;
          color: #fff; }
          section#about-ethos .our-ethos__desc-subtitle-italic {
            font-weight: 300;
            font-size: 28px;
            line-height: 37px;
            color: #fff;
            font-style: italic; }
          section#about-ethos .our-ethos__desc-subtitle-obs {
            font-size: 28px;
            color: #FFFFFF;
            font-style: italic; }

.heave-a-project {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 600px;
  background: url("./../../image/heave-a-project-min.png");
  background-repeat: no-repeat;
  background-position: right; }
  @media screen and (min-width: 2560px) {
    .heave-a-project {
      background: url("./../../image/heave-a-project-max.png");
      background-repeat: no-repeat;
      background-position: center; } }
  .heave-a-project__title {
    font-size: 52px;
    color: #FFFFFF;
    margin: 15px 0; }
  .heave-a-project__subtitle {
    font-size: 28px;
    color: #FFFFFF; }
  .heave-a-project__button {
    border: 2px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
    border-radius: 25px;
    padding: 14px 37px;
    margin-top: 50px;
    cursor: pointer; }

section#service {
  width: 100%;
  max-width: 100%;
  float: left;
  position: relative; }
  section#service .service-container {
    width: calc(100% - 280px);
    overflow: hidden;
    margin: 0 auto; }
    section#service .service-container__content {
      float: left;
      position: relative;
      width: 1512px;
      margin: 0 auto; }
      section#service .service-container__content .service-box {
        width: 33%; }
        section#service .service-container__content .service-box h2 {
          color: #11294B;
          line-height: 48px;
          font-weight: 300;
          font-size: 36px;
          margin: 55.51px 0 16px 0 !important; }
        section#service .service-container__content .service-box p {
          color: #11294B;
          line-height: 21px;
          font-weight: 300;
          font-size: 16px; }
    section#service .service-container__footer {
      float: left;
      position: relative;
      padding: 100px 0; }
section#markets {
  width: 100%;
  max-width: 100%;
  float: left;
  position: relative;
  padding-bottom: 181px; }
  section#markets .markets-container {
    width: calc(100% - 30px);
    overflow: hidden;
    margin: 0 auto; }
    section#markets .markets-container__header {
      width: 100%;
      float: left;
      position: relative;
      padding: 66px 0; }
      section#markets .markets-container__header h2 {
        font-size: 52px;
        color: #11294B;
        text-align: center;
        font-weight: 900;
        float: right; }
    section#markets .markets-container__content {
      width: 100%;
      float: left;
      position: relative; }
      section#markets .markets-container__content .markets-box {
        width: 462px;
        height: 800px;
        background-size: cover;
        display: flex;
        flex-direction: column;
        padding-left: 48px;
        padding-bottom: 55.63; }
        section#markets .markets-container__content .markets-box__margin-50 {
          margin-top: 50px; }
        section#markets .markets-container__content .markets-box h2 {
          font-size: 52px;
          font-weight: 900;
          color: #fff;
          line-height: 68px; }
        section#markets .markets-container__content .markets-box p {
          color: #fff;
          font-weight: 900;
          display: flex;
          align-items: center; }
          section#markets .markets-container__content .markets-box p a {
            margin-left: 10px; }
            section#markets .markets-container__content .markets-box p a i {
              color: #B41F84;
              font-size: 18px; }

section#innovation {
  width: 100%;
  max-width: 100%;
  float: left;
  position: relative;
  height: 1080px;
  padding: 114px 0 136.18px; }
  section#innovation .innovation-container {
    width: calc(100% - 280px);
    overflow: hidden;
    margin: 0 auto;
    height: 100%; }
    section#innovation .innovation-container__header {
      width: 100%;
      max-width: 100%;
      float: left;
      position: relative;
      max-width: 50%; }
      section#innovation .innovation-container__header h2 {
        font-size: 52px;
        color: #11294B;
        text-align: center;
        font-weight: 900;
        float: right;
        color: #fff;
        text-align: left; }
      section#innovation .innovation-container__header p {
        font-size: 28px;
        line-height: 37px;
        font-weight: 300;
        color: #fff;
        margin: 18.51px 0 18px 0 !important; }
      section#innovation .innovation-container__header small {
        font-size: 18px;
        line-height: 24px;
        font-weight: 900;
        color: #fff; }
    section#innovation .innovation-container__footer {
      width: 100%;
      max-width: 100%;
      float: left;
      position: relative; }
      section#innovation .innovation-container__footer .certification p {
        font-size: 16px;
        line-height: 21px;
        font-weight: 400;
        color: #f2f2f2; }
      section#innovation .innovation-container__footer .certification-r {
        text-align: right;
        max-width: 29%; }
        section#innovation .innovation-container__footer .certification-r img {
          margin-bottom: 17.62px; }
        section#innovation .innovation-container__footer .certification-r p {
          font-size: 16px;
          line-height: 21px;
          font-weight: 400;
          color: #f2f2f2; }
          section#innovation .innovation-container__footer .certification-r p a {
            text-decoration: underline;
            color: #f2f2f2;
            font-size: 16px;
            line-height: 21px;
            font-weight: 400; }
section.bg-innovation {
  background-size: contain !important; }

section#bestwork {
  width: 100%;
  max-width: 100%;
  float: left;
  position: relative;
  padding: 189px 0 151px 0;
  background: #fafafb; }
  section#bestwork .bestwork-container {
    width: calc(100% - 30px);
    overflow: hidden;
    margin: 0 auto; }
    section#bestwork .bestwork-container__header {
      width: 100%; }
      section#bestwork .bestwork-container__header h2 {
        font-size: 52px;
        color: #11294B;
        text-align: center;
        font-weight: 900;
        float: right; }
    section#bestwork .bestwork-container__content {
      width: 100%;
      margin: 62.12px 0 57.58px 0 !important; }
    section#bestwork .bestwork-container__footer {
      width: 100%; }
      section#bestwork .bestwork-container__footer .title-brands {
        width: 100%; }
        section#bestwork .bestwork-container__footer .title-brands h3 {
          font-size: 52px;
          color: #11294B;
          text-align: center;
          font-weight: 900;
          float: right;
          font-size: 22px;
          line-height: 29px; }
      section#bestwork .bestwork-container__footer .logo-brands {
        width: 100%;
        margin-top: 49px; }
        section#bestwork .bestwork-container__footer .logo-brands img {
          height: fit-content !important;
          margin: 0 25px; }

section#years {
  width: 100%;
  max-width: 100%;
  float: left;
  position: relative;
  height: 1092px;
  background: url(../images/bg-about.png) 25% 85% no-repeat; }
section .years-container {
  width: calc(100% - 280px);
  overflow: hidden;
  margin: 0 auto;
  width: 1540px; }
  section .years-container__number {
    width: 604px; }
  section .years-container__description {
    width: 904px;
    padding-left: 46px;
    padding-top: 243px; }
    section .years-container__description h2 {
      font-weight: 900;
      line-height: 152px;
      font-size: 110px;
      color: #B41F84; }
    section .years-container__description p {
      font-weight: 900;
      font-size: 28px;
      line-height: 37px;
      color: #fff;
      margin-top: 245px; }
    section .years-container__description a {
      margin-top: 46px;
      font-style: italic; }

section#testimonial {
  width: 100%;
  max-width: 100%;
  float: left;
  position: relative;
  padding: 62px 0 177px 0; }
  section#testimonial .testmonials-container {
    width: calc(100% - 30px);
    overflow: hidden;
    margin: 0 auto; }
    section#testimonial .testmonials-container .fix-image {
      width: 1140px;
      height: 800px; }
    section#testimonial .testmonials-container .carousel {
      width: 705px;
      height: 642px;
      background: #f2f2f2;
      padding: 44px 106px 70px;
      margin-left: -65px; }
      section#testimonial .testmonials-container .carousel__header {
        width: 100%; }
        section#testimonial .testmonials-container .carousel__header h2 {
          font-size: 52px;
          color: #11294B;
          text-align: center;
          font-weight: 900;
          float: right;
          text-align: left; }
        section#testimonial .testmonials-container .carousel__header img {
          margin-bottom: 50px;
          width: fit-content; }
      section#testimonial .testmonials-container .carousel__content {
        width: 100%; }

section#blog {
  width: 100%;
  max-width: 100%;
  float: left;
  position: relative; }
section .blog-container {
  width: calc(100% - 30px);
  overflow: hidden;
  margin: 0 auto;
  padding: 0 0 112px 0; }
  section .blog-container__header {
    width: 100%; }
    section .blog-container__header h2 {
      font-size: 52px;
      color: #11294B;
      text-align: center;
      font-weight: 900;
      float: right; }
  section .blog-container__content {
    margin-top: 66px;
    width: 100%; }
    section .blog-container__content .blog-box {
      width: 619px;
      height: 485px;
      padding: 0 0 34px 50px; }
      section .blog-container__content .blog-box-center {
        margin-top: 22px; }
      section .blog-container__content .blog-box h2 {
        font-size: 52px;
        color: #11294B;
        text-align: center;
        font-weight: 900;
        float: right;
        color: #fff;
        line-height: 68px;
        text-align: left; }
      section .blog-container__content .blog-box p {
        color: #fff;
        line-height: 21px;
        margin: 14px 0 !important;
        max-width: 390px; }
        section .blog-container__content .blog-box p a {
          font-weight: 900; }
          section .blog-container__content .blog-box p a i {
            color: #B41F84;
            font-size: 18px;
            margin-left: 17px;
            margin-top: 5px; }
      section .blog-container__content .blog-box span {
        color: #fff;
        line-height: 21px;
        display: flex;
        align-items: center;
        font-weight: 900; }
        section .blog-container__content .blog-box span a i {
          color: #B41F84;
          font-size: 18px;
          margin-left: 17px; }
  section .blog-container__footer {
    width: 100%;
    max-width: 967px;
    text-align: center;
    margin: 0 auto; }
    section .blog-container__footer p {
      margin: 50px 0 !important;
      padding: 0 44px !important;
      font-weight: 300; }

section#contact {
  width: 100%;
  max-width: 100%;
  float: left;
  position: relative;
  height: 600px; }
section .contact-container {
  padding: 128px 0 141px 0; }
  section .contact-container h2 {
    font-size: 52px;
    color: #11294B;
    text-align: center;
    font-weight: 900;
    float: right;
    line-height: 68px;
    color: #fff;
    max-width: 996px; }
  section .contact-container p {
    font-weight: 300;
    font-size: 28px;
    line-height: 37px;
    color: #fff;
    max-width: 1520px;
    margin: 14.38px 0 24.73px 0 !important; }

input[type=text], input[type=email] {
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #fff;
  padding: 1px;
  width: 100%;
  margin: 20px 0;
  height: 40px;
  color: #fff; }
input[type=submit] {
  border-radius: 50px;
  height: 80px;
  width: 320px;
  margin: 20px 0;
  float: right;
  font-size: 23px; }

textarea {
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #fff;
  padding: 1px;
  width: 100%;
  margin: 20px 0 !important;
  height: 40px;
  color: #fff; }

@media only screen and (max-width: 1280px) {
  input[type=text], input[type=email] {
    margin: 15px 0;
    height: 40px; }
  input[type=submit] {
    border-radius: 50px;
    height: 60px;
    width: 320px;
    margin: 15px 0;
    float: right;
    font-size: 23px; }

  textarea {
    margin: 15px 0 !important;
    height: 40px; } }
@media only screen and (max-width: 900px) {
  input[type=text], input[type=email] {
    padding: 1px;
    width: 100%;
    margin: 10px 0;
    height: 40px;
    color: #fff;
    font-size: 14px; }
  input[type=submit] {
    border-radius: 50px;
    border: none;
    height: 70px;
    color: #fff;
    width: 234px;
    margin: 15px auto 0;
    float: right;
    font-size: 18px;
    background: #1BD68F;
    float: none !important; }

  textarea {
    padding: 1px;
    width: 100%;
    margin: 10px 0 !important;
    height: 40px;
    font-size: 14px; } }
section#header {
  background: #fff;
  width: 100%;
  height: 105px;
  box-shadow: 0px 3px 6px #00000029;
  position: fixed;
  z-index: 9999; }
  section#header .header-content {
    width: calc(100% - 280px);
    overflow: hidden;
    margin: 0 auto; }
    section#header .header-content__logotipo h2 {
      color: #13284b;
      font-weight: 900;
      font-family: 'Roboto' !important;
      font-size: 50px; }
    section#header .header-content .action {
      width: 1009px; }
      section#header .header-content .action__nav {
        width: 685px; }
        section#header .header-content .action__nav ul {
          float: left;
          position: relative;
          width: 100%;
          margin: 0;
          padding: 0; }
          section#header .header-content .action__nav ul li {
            float: left; }
            section#header .header-content .action__nav ul li a {
              font-weight: 300;
              font-size: 16px;
              color: #11294B; }
            section#header .header-content .action__nav ul li .ul-container {
              display: none;
              position: fixed;
              background: #fff;
              width: 1132px;
              margin-left: -600px;
              margin-top: -6px;
              height: 463px; }
              section#header .header-content .action__nav ul li .ul-container__content {
                width: 100%;
                height: 416px;
                background: #11294B;
                margin-top: 47px; }
            section#header .header-content .action__nav ul li:hover .ul-container {
              display: flex; }
      section#header .header-content .action__search {
        width: 171px; }
        section#header .header-content .action__search i {
          font-size: 16px;
          color: #11294B;
          cursor: pointer; }
      section#header .header-content .action__button {
        width: 154px;
        height: 40px;
        background: #11294B;
        border-radius: 4px; }
        section#header .header-content .action__button a {
          color: #fff;
          font-size: 16px;
          text-transform: uppercase;
          font-weight: 900; }

.btn-all {
  border-radius: 25px; }
  .btn-all__primary {
    background: #B41F84;
    color: #fff;
    width: 122px;
    height: 49px; }
    .btn-all__primary:hover {
      color: #fff; }
  .btn-all--outline {
    background-color: transparent;
    border: 2px solid #B41F84;
    color: #B41F84;
    font-size: 16px;
    width: 122px;
    height: 49px;
    font-weight: 900;
    transition: 1s all; }
    .btn-all--outline:hover {
      color: #fff;
      background-color: #B41F84; }
  .btn-all--outline-light {
    background-color: transparent;
    border: 2px solid white;
    color: #fff;
    font-size: 16px;
    width: 122px;
    height: 49px;
    font-weight: 900;
    transition: 1s all; }
    .btn-all--outline-light:hover {
      color: #B41F84;
      background-color: #fff; }

section#banner {
  width: 100%;
  max-width: 100%;
  float: left;
  position: relative;
  height: 1080px; }
  section#banner .b_headline {
    text-align: center;
    width: 100%;
    margin-bottom: 91px; }
    section#banner .b_headline h2 {
      font-weight: 900;
      font-size: 82px;
      color: #fff;
      line-height: 92px; }
    section#banner .b_headline p {
      font-size: 28px;
      color: #fff;
      max-width: 780px;
      font-weight: 300;
      margin: 16.77px 0 25px;
      line-height: 38px; }
    section#banner .b_headline a {
      font-weight: 900;
      font-size: 16px;
      font-style: italic; }

.masonry {
  max-width: 100%;
  column-gap: 0; }

/* The Masonry Brick */
.item {
  padding: 15px;
  margin: 0;
  cursor: pointer; }
  .item img {
    filter: saturate(100%); }
  .item:hover img {
    filter: saturate(80%) invert(6%); }
  .item .legend {
    width: 90%;
    margin: -70px auto 0;
    position: relative; }
    .item .legend h3 {
      color: #fff;
      font-size: 20px;
      font-weight: 900;
      line-height: 0; }
    .item .legend p {
      color: #fff;
      font-weight: 300; }

/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
  .masonry {
    column-count: 4; } }
/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    column-count: 3; } }
/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .masonry {
    column-count: 2; } }
.item#carousel {
  background: transparent;
  padding: 0;
  height: 271px; }
  .item#carousel .post__description {
    width: 100%;
    margin: 32px 0 0; }
    .item#carousel .post__description p {
      color: #11294B;
      line-height: 21px;
      font-size: 16px;
      font-style: italic; }
  .item#carousel .post__user {
    width: 100%;
    margin: 24px 0 0; }
    .item#carousel .post__user i {
      height: 76px;
      width: 76px;
      background: #11294B;
      color: #f2f2f2;
      border-radius: 50%;
      font-size: 52px; }
    .item#carousel .post__user hr {
      color: #B41F84;
      width: 17px;
      border: 3px solid #B41F84;
      margin: 0 13px 0 24px !important; }
    .item#carousel .post__user p {
      color: #11294B;
      line-height: 24px;
      font-size: 18px;
      font-weight: 900;
      margin-bottom: 0; }

section#footer {
  width: 100%;
  max-width: 100%;
  float: left;
  position: relative;
  height: 267.74px;
  background: #11294B; }
section .footer-container {
  width: calc(100% - 280px);
  overflow: hidden;
  margin: 0 auto; }

section#copy {
  width: 100%;
  max-width: 100%;
  float: left;
  position: relative;
  height: 45px;
  background: #081A33; }
section .copy-container {
  width: calc(100% - 280px);
  overflow: hidden;
  margin: 0 auto;
  height: 45px; }
  section .copy-container__reserved small {
    color: #fff;
    font-size: 10px;
    line-height: 20px;
    font-family: Arial; }
  section .copy-container__terms a {
    color: #fff;
    font-size: 10px;
    line-height: 20px;
    font-family: Arial;
    text-transform: uppercase; }
    section .copy-container__terms a:first-child {
      margin-right: 67px; }
