.btn-all{
    border-radius: 25px;
    @extend %f-flex;
    @extend %f-all-center;
    &__primary{
        background: $btn__primary;
        color: $white;
        width: 122px;
        height: 49px;

        &:hover{
            color: $white;
        }
        
    }
    &--outline{
        background-color: transparent;
        border: 2px solid $btn__primary;
        color: $btn__primary;
        font-size: $size-16;
        width: 122px;
        height: 49px;
        @include font-bold;
        &:hover{
            color: $btn__primary;
        }
    }
}