section{
    &#about{
        @include container-full;
        padding: 157px 0 114px 0;

        .about-home{
            &__container{
                @include container-new;
                .matter{
                    width: 100%;
                    @extend %f-flex;
                    @extend %f-jcenter;
                    @extend %f-column;
                    text-align: center;

                    h2{
                        @include title-section;
                        margin-bottom: 16px !important;
                        line-height: 68px;
                    }
                    p{
                        @include font-light;
                        color: $primary;
                        font-size: 28px;
                        letter-spacing: 0;
                        margin-bottom: 0;
                        line-height: 37px;
                    }
                }
                .focus{
                    @include container-full;
                    @extend %f-flex;
                    @extend %f-between;
                    @include margin(65.96px, 0, 16px, 0);

                    &__images{
                        width: 1065px;
                        float: left;
                        img{

                        }
                    }
                    &__description{
                        width: calc(100% - 1065px);
                        @extend %f-flex;
                        @extend %f-align-center;
                        @extend %f-jcenter;

                        .desc{
                            @extend %f-flex;
                            @extend %f-column;
                            width: 496px;
                            h2{
                                @include title-section;
                                margin-bottom: 16.77px !important;
                                text-align: left;
                            }
                            p{
                                @include font-light;
                                line-height: 37px;
                                color: $primary;
                                font-size: 28px;
                                letter-spacing: 0;
                                margin-bottom: 5px;
                            }
                        }
                    }
                }
                .background{
                    @include container-new;
                    @extend %f-flex;
                    @extend %f-between;

                    &__images{
                        width: 1063px;
                        img{

                        }
                    }
                    &__description{
                        width: calc(100% - 1063px);
                        @extend %f-flex;
                        @extend %f-align-center;
                        @extend %f-jcenter;
                        @extend %f-column;

                        .desc{
                            @extend %f-flex;
                            @extend %f-column;
                            width: 496px;
                            h2{
                                @include title-section;
                                margin-bottom: 13.62px !important;
                                text-align: left;
                            }
                            p{
                                @include font-light;
                                color: $primary;
                                font-size: 28px;
                                letter-spacing: 0;
                                margin-bottom: 5px;
                                line-height: 37px;
                            }
                        }
                       
                    }
                }
            }
        }
    }
}
