section{
    &#years{
        @include container-full;
        height: 1092px;
        background: url(../images/bg-about.png) 25% 85% no-repeat;
    }
    .years{
        &-container{
            @include container;
            @extend %f-flex;
            width: 1540px;

            &__number{
                width: 604px;
            }
            &__description{
                width: 904px;
                padding-left: 46px;
                padding-top: 243px;


                h2{
                    @include font-bold;
                    line-height: 152px;
                    font-size: 110px;
                    color: $secondary;
                }
                p{
                    @include font-bold;
                    font-size: 28px;
                    line-height: 37px;
                    color: $white;
                    margin-top:245px;
                }
                a{
                    margin-top: 46px;
                    font-style: italic;
                }
            }
        }
    }
}